.board_post_wrap {
  padding: 12px 8px;
  width: 100%;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.board_post_container {
  border-bottom: 1px solid #f1f3f5;
}

.post_btn {
  width: 60px;
  height: 30px;
}

.post_btn.btn_del {
  background: #fd9494;
  color: #fdfdfd;
  border: none;
}

.comment_container {
  margin-top: 30px;
}



/* postReaction 게시글 상태 */
.post_reaction {
  padding: 15px;
  display: flex;
  gap: 15px;
}

/* 게시글 폼 */
.boardPostForm {
  background-color: #fff;
}