.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.banner_slide_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  margin-top: 40px;
}

.banner_slide_container {
  width: 100%;
  max-width: 1280px;
  margin-bottom: 80px;
}

.banner_slide_container img {
  object-fit: cover;
  border-radius: 10px;
}

.area {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  position: relative;
}
.recruit_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ctrl_wrap {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

/* 검색창 */

.search {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
}

.serarch_input {
  display: flex;
  width: 360px;
  height: 55px;
  font-weight: 400;
  font-size: 18px;
  color: #878CA0;
  border: 1px #878CA0 solid;
  border-radius: 5px;
}


.input_wrap {
  width: 300px;
  border-radius: 5px;
}

.serarch_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 5px;
}

.input_wrap input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.serarch_input:hover {
  border: 1px solid #77787e;
}

.serarch_input:focus-within {
  border: 1px solid #748ffc;
}

.registr_btn {
  width: 120px !important;
  height: 100% !important;
  font-weight: 400;
  font-size: 20px !important;
  background-color: #748FFC !important;
  color: #FFFFFF !important;
  border: 1px #748FFC solid;
  border-radius: 5px !important;
}

/* 카테고리(정렬) */

.Kategorie {
  display: flex;
  width: 100%;
}

.selected {
  background-color: #748FFC;
  color: #fff;
  outline: none;
}

.Kategorie_list_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
}

.Kategorie .Button {
  width: 140px;
  height: 40px;
  border: 1px solid #77787e;
  margin-right: 25px;
  border-radius: 7px;
}

.card_wrap {
  width: 100%;
  position: relative;
  display: flex;
  gap: 26px;
  row-gap: 40px;
  flex-wrap: wrap;
  margin: 70px 0;
}

.card_container {
  padding: 20px 20px;
  width: 300px;
  height: 340px;
  border: 1px solid #748ffc;
  border-radius: 10px;
  position: relative;
  transition: transform 0.4s;
  transform: scale(1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_container:hover {
  transform: scale(1.03);
  box-shadow: 0 14px 28px rgba(79, 79, 79, 0.116),
    0 10px 10px rgba(41, 36, 36, 0.265);
  border: 1px solid #748FFC;
  border-radius: 5px;
}


.card_bottom_container {
  width: 250px;
  position: absolute;
  bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.studyKeyword {
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  margin-bottom: 20px;
  color: #748FFC;
  font-size: 16px;
  height: 24px;
}
.studyKeyword_list_box{
  display: flex;
}
.studyKeyword_back {
  display: flex;
  white-space: nowrap;
  padding: 6px 10px;
  font-size: 14px;
  background-color: #F5F7FF;
  border-radius: 4px;
}

.studyKeyword ul {
  display: flex;
  gap: 10px;
}

.studyKeyword ul li {
  padding: 3px 5px;
  background-color: #f5f7ff;
  border-radius: 5px;
  color: #BAC8FF;
}

.materialType {
  font-size: 14px;
  color: #878CA0;
}

.material {
  height: 45px;
  font-size: 18px;
  color: #4E515B;
  font-weight: 600;
}

.studyName {
  max-width: 300px;
  display: flex;
  height: 35px;
}

.studyName p {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  color: #4E515B;
  font-weight: 400;
}

.card_date p {
  color: #878CA0;
  font-size: 14px;
  text-overflow: ellipsis;
}

/* 탑버튼 */
.scroll {
  position: fixed;
  z-index: 1;
}
@media only screen and (max-width:1920px) {
  .scroll{
    bottom: 60px;
    right: 20px;
  }
}
@media only screen and (min-width:1920px) {
  .scroll{
    bottom: 60px;
    right: 10%;
  }
}

@media only screen and (max-width:1024px) {
  .scroll{
    bottom: 0;
    right: 0;
  }
  .Kategorie{
    padding: 0 20px;
  }
  .card_container{
    margin-left: 18px;
  }
  .ctrl_wrap{
    padding: 0 20px;
  }
}
@media only screen and (max-width:768px) {
  .scroll{
    bottom: 10px;
    right: 10px;
  }
  .serarch_input{
    width: 200px;
  }
  .banner_slide_container {
    max-width: 720px;
  }
  .card_container{
    margin-left: 40px;
  }
  .card_wrap{
    max-width: 390px;
    width: auto;
  }
  .Kategorie{
    padding: 0 20px;
  }
}

.top_button {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(116, 143, 252, 0.3);
  cursor: pointer;
  border: none;
}

.scroll > .top_button > span{
  position: absolute;
  display: block;
  width: 20px;
  height: 4px;
  border-radius: 50px;
  background-color: #4E515B;
}
.scroll > .top_button > span:nth-child(1){
  transform: translate(0, 50%) rotate(-45deg);
  left: 14px;
  top: 26px;
}
.scroll > .top_button > span:nth-child(2){
  transform: translate(0, 50%) rotate(45deg);
  right: 14px;
  top: 26px;
}