.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.area{
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner_slide_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}
.banner_slide_container {
  width: 100%;
  max-width: 1280px;
}
.banner_slide_container img {
  object-fit: cover;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .banner_slide_container{
    max-width: 720px;
  }
}

.recruit_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ctrl_wrap {
  margin-top: 120px;
  margin-bottom: 40px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.search {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
}

.serarch_input {
  display: flex;
  width: 320px;
  height: 55px;
  font-weight: 400;
  font-size: 18px;
  color: #878CA0;
  border: 1px #878CA0 solid;
  border-radius: 5px;
}

.input_wrap {
 width:300px;
 border-radius: 5px;
}

.serarch_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 5px;
}

.input_wrap input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.serarch_input:hover{
  border: 1px solid #77787e;
}

.serarch_input:focus-within {
  border: 1px solid #748ffc;
}

.registr_btn { 
  width: 120px !important;
  height: 100% !important;
	font-weight: 400;
  font-size: 20px !important;
  background-color: #748FFC !important;
  color: #FFFFFF !important;
  border: 1px #748FFC solid;
  border-radius: 5px !important;
}

.card_wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-left: 26px;
  margin-bottom: 40px;
}
.card:first-child {
  margin-left: 0;
}
.card:nth-child(4n+1) {
  margin-left: 0;
}

.card_container {
  padding: 30px 20px;
  width: 300px;
  height: 340px;
  border: 1px solid #748ffc;
  border-radius: 10px;
  position: relative;
  transition: transform 0.4s;
  transform: scale(1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_container:hover {
  transform: scale(1.03);
  box-shadow: 0 14px 28px rgba(79, 79, 79, 0.116),
    0 10px 10px rgba(41, 36, 36, 0.265);
  border: 1px solid #748FFC;
}


.card_bottom_container{
position: absolute;
bottom: 20px;
}

.studyKeyword {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
  color: #748FFC;
  font-size: 16px;
}
.studyKeyword_back{
  padding: 4px 8px;
  background-color: #F5F7FF;
  border-radius: 4px;
}

.studyKeyword ul {
  display: flex;
  gap: 10px;
}

.studyKeyword ul li {
  padding: 3px 5px;
  background-color: #f5f7ff;
  border-radius: 5px;
  color: #BAC8FF;
}
.materialType{
  font-size: 18px;
  color: #878CA0;
}

.material {
  height: 45px;
  font-size: 20px;
  color: #4E515B;
  font-weight: 600;
}

.studyName {
  height: 35px;
}

.studyName p {
  margin-top: 5px;
  overflow: hidden; 
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  overflow: hidden; 
  font-size: 20px;
  color: #4E515B;
  font-weight: 400;
}

.card_date p {
  color: #878CA0;
  font-size: 16px;
}