.container {
  width: 100%;
  margin: 0 auto;
  height: 5000px;
}

.banner_slide_wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline:none;
  border: none;
}
.banner_slide_container {
  width: 100%;
  max-width: 1800px;
}
.banner_slide_container img {
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .banner_slide_container{
    max-width: 720px;
  }
}

.recruit_wrap {
  max-width: 100%;
  width: 1300px;
  margin: 120px auto;
}

.ctrl_wrap {
  justify-content: space-between;
    display: flex;
    padding: 0px 60px;
}

/* 검색창 */

.search {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
}

.serarch_input {
  display: flex;
  width: 296px;
  height: 55px;
  font-weight: 400;
  font-size: 18px;
  color: #878CA0;
  border: 1px #878CA0 solid;
  border-radius: 5px;
}

.input_wrap {
 width:300px;
 border-radius: 5px;
}

.serarch_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 5px;
}

.input_wrap input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.serarch_input:hover{
  border: 1px solid #77787e;
}

.serarch_input:focus-within {
  border: 1px solid #748ffc;
}

.registr_btn { 
  width: 120px !important;
  height: 100% !important;
	font-weight: 400;
  font-size: 18px;
  background-color: #748FFC !important;
  color: #FFFFFF !important;
  border: 1px #748FFC solid;
  border-radius: 5px !important;
}

/* 카테고리 */
.Kategorie {
  padding: 0 60px;
}

.Kategorie ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
}

.Kategorie .Button {
  width: 140px;
  height: 40px;
  border: 1px solid #77787e;
  margin-right: 25px;
  border-radius: 8px;
}

.Kategorie .Button {
  width: 140px;
  height: 40px;
  border: 1px solid #77787e;
  margin-right: 25px;
  border-radius: 8px;
}

.card_wrap {
  position: relative;
  display: flex;
  grid-gap: 22px;
  gap: 30px;
  flex-wrap: wrap;
  margin: 70px auto;
  padding: 0 60px;
}

.card_container {
  padding: 30px 20px;
  width: 272px;
  height: 311px;
  border: 1px solid #748ffc;
  border-radius: 10px;
  position: relative;
  transition: transform 0.4s;
  transform: scale(1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
}

.card_container:hover {
  transform: scale(1.03);
  box-shadow: 0 14px 28px rgba(79, 79, 79, 0.116),
    0 10px 10px rgba(41, 36, 36, 0.265);
  border: 1px solid #748FFC;
  border-radius: 5px;
}


.card_bottom_container{
position: absolute;
bottom: 20px;
}

.studyKeyword {
  margin-bottom: 20px;
  color: #748FFC;
  font-size: 14px;
}

.studyKeyword ul {
  display: flex;
  gap: 10px;
}

.studyKeyword ul li {
  padding: 3px 5px;
  background-color: #f5f7ff;
  border-radius: 5px;
  color: #BAC8FF;
}
.materialType{
  font-size: 14px;
  color: #878CA0;
}

.material {
  height: 45px;
  font-size: 18px;
  color: #4E515B;
  font-weight: 600;
}

.studyName {
  height: 35px;
}

.studyName p {
  margin-top: 5px;
   overflow: hidden; 
   display: -webkit-box; 
   -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
   letter-spacing: -0.05em; 
  overflow: hidden; 
  font-size: 18px;
  color: #4E515B;
  font-weight: 400;
}

.card_date p {
  color: #878CA0;
  font-size: 14px;
}

/* 탑버튼 */
.scroll {
  position:fixed;
  right:2%;
  bottom:5%;  
  z-index: 1;
}

.button{
font-weight: bold;
font-size: 10px;
padding: 15px 10px;
background-color: white;
color: black;
border: 1px solid rgb(210, 204, 193);
border-radius: 50%;
outline: none;
cursor: pointer;
}  

