.note_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-left: 56px;
    margin-top: 30px;
}

.note_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.view_note {
    display: flex;
    margin-top: 20px;
}

.write_btn {
    width: 140px;
    height: 30px;
    background-color: #f5f7ff;
    color: #748ffc;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.member_list {
    margin-bottom: 20px;
    background-color: #f5f7ff;
    border: 1px solid lightgrey;
}

.week_menu {
    width: 80px;
    height: 30px;
    background-color: #f5f7ff;
    color: #748ffc;
    border: 1px solid #748ffc;
    border-radius: 5px;
    text-align: center;
}