.bg {
  background-color: #F8F8F8;
  min-height: 1000px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 100%;
  width: 1300px;
  margin: 0 auto;
  padding: 40px 40px 20px 20px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-column-gap: 20px;
  grid-template-areas: 
    'e e e e e e'
    'a a a a a a'
    'b b b b b b'
    'c c c c c c'
    'd d d d d d'
  ;
}


@media screen and (min-width: 992px) {
  .container {
    max-width: 100%;
    width: 1300px;
    margin: 0 auto;
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 20px;
    grid-template-areas: 
      'e e e e e e'
      'a a a a b b'
      'c c c d d d'
    ;
  }
}


.a{
  grid-area: a;
}
.b{
  grid-area: b;
}
.c{
  grid-area: c;
}
.d{
  grid-area: d;
}
.e{
  grid-area: e;
}
/*  */

.container > h1 {
  margin: 4px 12px;
  font-size: 40px;
}

/*  */
.section_L {
  background-color: white;
  margin: 10px;
  width: auto;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.section {
  background-color: white;
  margin: 10px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  min-width: 300px;
}
.section_title {
  font-weight: 600;
  padding-bottom: 15px;
}

.section_item > p {
  font-weight: 400;
  width: 10px;
  font-size: 18px;
}

.section_item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 18px;
  padding: 4px 0;
  /* border-bottom: #F5F7FF 1px solid; */
}

.study_name{
  flex-grow: 1;
  margin-bottom: 5px;
  font-size: 18px;
  overflow: auto;
}

.applicants_btn{
  margin-left: 10px;
  padding: 6px 12px;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  min-width: 92px;

  background-color: #F5F7FF;
  color: #748FFC;
  border: 1px #F5F7FF solid;
  border-radius: 5px;
  cursor:pointer;
}

.apply_cancel_btn{
  margin-left: 10px;
  padding: 6px 12px;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  min-width: 80px;

  background-color: #fff4f4;
  color: #ff5858;
  border: 1px #fff4f4 solid;
  border-radius: 5px;
  cursor:pointer;

    margin: 5px;
    padding: 4px 12px;
	font-weight: 400;
    font-size: 12px;
    background-color: #fff4f4;
    color: #ff5858;
    border: 1px #fff4f4 solid;
    border-radius: 5px;
    cursor:pointer;
}