.bg {background-color: #F8F8F8;}

.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
}

.top_container{
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    width: 100%;
    justify-content: center;
}

.bottom_container{
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    width: 100%;
    justify-content: center;
}

.section {
    background-color: white;
    margin: 10px;
    max-width: 500px;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.section_title {
	font-weight: 600;
    padding-bottom: 10px;
    font-size: 14px;
}

.section_item p {
	font-weight: 400;
}

.section_item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left: 15px;
}

.study_name{
    flex-grow: 1;
    margin-bottom: 5px;
    font-size: 16px;
    
}

.applicants_btn{
    margin: 5px;
    padding: 5px 13px;
	font-weight: 400;
    font-size: 12px;
    background-color: #F5F7FF;
    color: #748FFC;
    border: 1px #F5F7FF solid;
    border-radius: 5px;
}

.apply_cancel_btn{
    margin: 5px;
    padding: 4px 12px;
	font-weight: 400;
    font-size: 12px;
    background-color: #fff4f4;
    color: #ff5858;
    border: 1px #fff4f4 solid;
    border-radius: 5px;
    cursor:pointer;
}

.alert_bg{
    position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert{
    padding: 30px;
    width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

}

.alert p {font-weight: 600;}

.btns{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.cancel_yes_btn{
    margin: 5px;
    padding: 6px 14px;
	font-weight: 600;
    font-size: 14px;
    background-color: #ff5858;
    color: #fff4f4;
    border: 1px #ff5858 solid;
    border-radius: 5px;
}

.cancel_no_btn{
    margin: 5px;
    padding: 6px 14px;
	font-weight: 600;
    font-size: 14px;
    background-color: #a8a8a8;
    color: #ffffff;
    border: 1px #a8a8a8 solid;
    border-radius: 5px;
}