.textarea_interface {
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border-radius: 8px;
  border: solid 1px #E3E5EF;
  background-color: #FAFBFF;
  resize: none;
  overflow-y: hidden;
}

.textarea_interface:focus {
  border: solid 1px #E3E5EF;
}