.alert_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  padding: 30px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.alert>p {
  font-weight: 600;
}

.btns {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cancel_yes_btn {
  margin: 5px;
  padding: 6px 14px;
  font-weight: 600;
  font-size: 14px;
  background-color: #ff5858;
  color: #fff4f4;
  border: 1px #ff5858 solid;
  border-radius: 5px;
  cursor: pointer;
}

.cancel_no_btn {
  margin: 5px;
  padding: 6px 14px;
  font-weight: 600;
  font-size: 14px;
  background-color: #a8a8a8;
  color: #ffffff;
  border: 1px #a8a8a8 solid;
  border-radius: 5px;
  cursor: pointer;
}