@import url("./font.css");

* {
  font-family: 'Pretendard';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  color: #4E515B;
  -ms-overflow-style: none;
}
::-webkit-scrollbar{
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul,
li {
  list-style: none;
}