.main_container {
  display: flex;
  width: 1276px;
  height: auto;
  padding: 10px 20px;
  margin: 0 auto;
}

.area {
  display: flex;
  max-width: 1280px;
  width: 100%;
  height: auto;
  position: relative;
}

.left_container {
  display: flex;
  flex-direction: column;
  width: 412px;
  height: 60vh;
  margin: 10px;
  margin-top: 8vh;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  animation: study 1s forwards;
  top: 0;
  left: -20px;
  opacity: 0;
}

@keyframes study {
  0% {
    top: -100px;
    opacity: 0;
  }

  40% {
    top: 10px;
  }

  60% {
    top: -10px;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.left_info {
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 350px;
  word-break: break-all;
  height: 100%;
  margin: 30px 28px 30px 28px;
}

.left_info p {
  margin-top: 14px;
  margin-bottom: 10px;
}

.study_mini_info {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 150px;
}

.study_mini_info p {
  margin-top: 10px;
}

/* .study_mini_info button {
    width: 70px;
    height: 30px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    color: #748FFC;
    background-color: #f5f7ff;
} */
.study_room {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.Entrance {
  cursor: pointer;
  width: 70px;
  height: 30px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  color: #748ffc;
  background-color: #f5f7ff;
  font-size: 14px;
  position: relative;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.Entrance>span {
  top: 0;
  left: 0;
  color: #748ffc;
  background: #f5f7ff;
  background: linear-gradient(0deg, #f5f7ff 0%, #f5f7ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 70px;
  height: 30px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Entrance>span:nth-child(1) {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -10px;
  -moz-transform-origin: 50% 50% -10px;
  transform-origin: 50% 50% -10px;
}

.Entrance>span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -10px;
  -moz-transform-origin: 50% 50% -10px;
  transform-origin: 50% 50% -10px;
}

.Entrance:hover>span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.Entrance:hover>span:nth-child(2) {
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.study_leader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.study_mini_info>p>span {
  margin-left: 20px;
}

.right_container {
  width: 844px;
  height: 80vh;
  margin: 10px;
  margin-top: 8vh;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  position: absolute;
  top: 0;
  /* left: 412px; */
  right: -40px;
  animation: board 1s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

@keyframes board {
  0% {
    right: -100px;
    opacity: 0;
  }

  40% {
    right: -30px;
  }

  60% {
    right: -45px;
  }

  100% {
    right: -40px;
    opacity: 1;
  }
}

.right_container .progress_container {
  height: auto;
}

.link_list {
  display: flex;
  width: 40vw;
  height: 41px;
  margin-top: 30px;
  margin-left: 56px;
  gap: 40px;
  align-items: center;
  font-size: 1rem;
}

.active_link {
  color: #748ffc;
  border-bottom: 2px solid #748ffc;
}

.link_menu {
  text-decoration: none;
  position: relative;
}

.menu_content {
  display: flex;
  flex: 1;
  width: 80%;
  margin: 10px;
}

.progress_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px;
  margin-left: 56px;
  margin-top: 30px;
}

.week_input {
  width: 50px;
  height: 40px;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 8px;
  background-color: #f8f8f8;
  cursor: pointer;
}

.study_content_input {
  width: 100%;
  padding: 5px;
  outline: none;
  font-size: 16px;
  border-radius: 8px;
  background-color: #f8f8f8;
  border: 1px solid #ced4da;
  resize: none;
  overflow-y: hidden;
  white-space: pre-wrap;
  min-height: 60px;
  height: auto;
  box-sizing: border-box;
}

.isEdit_input {
  width: 100%;
  height: 70px;
  border: 1px solid #ced4da;
  border-radius: 8px;
}

.input_box {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  overflow: hidden;
}

.edit_week_input {
  border: 1px solid #c4c4c4;
  border-color: #c4c4c4;
  color: #c4c4c4;
}

.edit_study_content_input {
  border: 1px solid #c4c4c4;
  height: auto;
  border-color: #c4c4c4;
  color: #c4c4c4;
  padding: 5px;
  outline: none;
  font-size: 16px;
  border-radius: 8px;
  resize: none;
  overflow-y: hidden;
  white-space: pre-wrap;
}

.input_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-right: 20px;
}

.change_btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.edit_save_btn {
  width: 60px;
  height: 30px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  color: #748ffc;
  background-color: #f5f7ff;
  cursor: pointer;
}

.remove_btn {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f7ff;
  color: #748ffc;
  cursor: pointer;
}

.add_btn {
  width: 100%;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #f5f7ff;
  color: #748ffc;
  cursor: pointer;
}