.bg {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    min-height: 1000px;
    background-color: #F8F8F8;
}

.container {    
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    width: 80%;
    margin-top: 40px;
    max-width: 1000px;
    min-height: 500px;
    height: 60%;
    position: relative;
}

.left_container {
    display: flex;
    flex-direction: column;
    max-width: 385px;
    width: 100%;
    padding: 0 10px 10px 10px;
    margin: 0px auto;
}

.right_container{
    background-color: white;
    margin: 0 10px 10px 10px;
    max-width: 844px;
    width: 100%;
    border-radius: 8px;
    padding: 20px;
	font-weight: 600;
    display: flex;
    flex-direction: column;
}

.section_title {
    padding-bottom: 10px;
}

.section_item{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: #F5F7FF 1px solid;
    font-weight: 400;
}

.study_info{
    background-color: white;
    margin-bottom: 10px;
    max-width: 412px;
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.study_info_titles{
    font-weight: 400;
    margin-bottom: 10px;
}

.study_info_titles > p {
    padding: 2px;
    font-size: 16px;
}

.study_info_titles > h2 {
    padding: 2px;
    font-size: 22px;
}






.list {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 4px;
  }
.study_info_contents{
    font-weight: 400;
    font-size: 14px;
}

.font_bold {
    font-weight: 500;
  }
/* .mtitle{
    font-size: 20px;
    margin-top: 2px;
    line-height: 1.3;
  } */
  .list > span {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 8px;
    font-size: 14px;
    height: auto;
    width: auto;
  }

/*  */
.study_start{
    max-width: 412px;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 600;
    padding: 12px;
    font-size: 18px;
    background-color: #BAC8FF;
    color: #4E515B;
    border: 1px #BAC8FF solid;
    border-radius: 5px;
    cursor:pointer;
}

.member{
    background-color: white;
    margin-bottom: 10px;
    max-width: 412px;
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.applicant_btns{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.approve_btn{
    margin: 5px;
    padding: 6px 14px;
    font-size: 14px;
    background-color: #F5F7FF;
    color: #748FFC;
    border: 1px #F5F7FF solid;
    border-radius: 5px;
    cursor:pointer;
}

                    
.reject_btn{
    margin: 5px;
    padding: 6px 14px;
    font-size: 14px;
    background-color: #fff4f4;
    color: #ff5858;
    border: 1px #fff4f4 solid;
    border-radius: 5px;
    cursor:pointer;
}

.apply_cancel_btn{
    margin: 5px;
    padding: 4px 12px;
	font-weight: 400;
    font-size: 12px;
    background-color: #fff4f4;
    color: #ff5858;
    border: 1px #fff4f4 solid;
    border-radius: 5px;
    cursor:pointer;
}

.alert_bg{
    position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert{
    padding: 30px;
    width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.alert > p {font-weight: 600;}

.btns{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cancel_yes_btn{
    margin: 5px;
    padding: 6px 14px;
	font-weight: 600;
    font-size: 14px;
    background-color: #ff5858;
    color: #fff4f4;
    border: 1px #ff5858 solid;
    border-radius: 5px;
    cursor:pointer;
}

.approve_yes_btn{
    margin: 5px;
    padding: 6px 14px;
	font-weight: 600;
    font-size: 14px;
    background-color: #748FFC;
    color: #ffffff;
    border: 1px #748FFC solid;
    border-radius: 5px;
    cursor:pointer;
}


.cancel_no_btn{
    margin: 5px;
    padding: 6px 14px;
	font-weight: 600;
    font-size: 14px;
    background-color: #a8a8a8;
    color: #ffffff;
    border: 1px #a8a8a8 solid;
    border-radius: 5px;
    cursor:pointer;
}