.wrapper {
   max-width: 995px;
    width: 1024px;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 100px 20px;
    gap: 15px;
    margin: 0px auto;
    position: relative;
}
.title {
  color: #4e515b;
  margin-bottom: 25px;
  font-size: 24px;
}
.text {
  margin-bottom: 10px;
  font-weight: 400;
}
.inputBox__L {
  width: 958px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #E2E2E2;
  padding-left: 10px;
  font-size: 18px;
}
.inputBox__S {
  padding-left: 10px;
  width: 459px;
  height: 50px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 18px;
  border: 1px solid #E2E2E2;
}
.inputBox__S::placeholder{
  font-size: 16px;
  color: #878CA0;
}
.inputBox__L::placeholder{
  font-size: 16px;
  color: #878CA0;
}
.flex {
  display: flex;
  gap: 38px;
}
.btn_wrapper {
  justify-content: center;
}
.mt35 {
  margin-top: 24px;
  /* gap: 38px; */
}
.mb120 {
  margin-bottom: 120px;
}
.mb27 {
  margin-bottom: 27px;
}

/* .study_introduction h4{
  margin: 15px 0 15px 0px;
} */
.editor_wrap{
  white-space: pre-wrap;
}

.btn_wrap {
  display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn_component {
  margin-top: 15px;
  padding: 6px 18px;
  font-weight: 400;
  font-size: 16px;
  background-color: #F8F8F8;
  border: 1px #F8F8F8 solid;
  border-radius: 5px;
  cursor:pointer;
}
.save_btn{
  margin-top: 15px;
  padding: 6px 18px;
  font-weight: 400;
  font-size: 16px;
  background-color: #748FFC;
  color: #F5F7FF;
  border: 1px #748FFC solid;
  border-radius: 5px;
  cursor:pointer;
}

.blue {
  background-color: #748ffc;
}

.color_white {
  color: #f5f7ff;
}