.mainContainer{
    display: flex;
    width: 1276px;
    height: 100vh;
    padding: 10px 20px;
    margin: 0 auto;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    width: 412px;
    height: 60vh;
    margin: 10px;
    margin-top: 8vh;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leftInfo {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 350px;
    word-break: break-all;
    height: 100%;
    margin: 30px 28px 30px 28px;
}

.leftInfo p{
    margin-top: 14px;
    margin-bottom: 10px;
}

.studyMiniInfo {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
}

.studyMiniInfo p{
    margin-top: 10px;
}

.studyMiniInfo button {
    width: 70px;
    height: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    color: #748FFC;
    background-color: #f5f7ff;
}

.studyMiniInfo span{
    margin-left: 20px;
}

.rightContainer {
    width: 844px;
    margin: 10px;
    margin-top: 8vh;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.linkList {
    display: flex;
    width: 40vw;
    height: 41px;
    margin-top: 30px;
    margin-left: 56px;
    gap: 40px;
    align-items: center;
    font-size: 1rem;
}

.linkList a:focus {
    color: #748FFC;
    border-bottom: 2px solid #748FFC;
}

.linkMenu {
    text-decoration: none;
    position: relative;
}

.menuContent {
    display: flex;
    flex: 1;
    width: 80%;
    margin: 10px;
}

.progressContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px;
    margin-left: 56px;
    margin-top: 30px;
}

.weekInput {
    width: 50px;
    height: 40px;
    text-align: center;
    border: none;
}

.studyContentInput {
    width: 100%;
    height: 40px;
    resize: vertical;
    border: none;
}

.inputBox{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}

.editWeekInput {
    border: 1px solid gray;
    border-color: gray;
    color: gray;
}

.editStudyContentInput {
    border: 1px solid gray;
    border-color: gray;
    color: gray;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
}

.changeBtn {
    display: flex;
    width: 100%;
    justify-content: end;
}

.editSaveBtn {
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: #748FFC;
    background-color: #f5f7ff;
    cursor: pointer;
}

.removeBtn {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5f7ff;
    color: #748FFC;
    cursor: pointer;
}

.addBtn {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5f7ff;
    color: #748FFC;
    cursor: pointer;
}