.wrapper {
  display: flex;
  /* align-items: center; 부모 요소를 상단으로 정렬 */
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  justify-content: center;
}

.profile_container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  width: 650px;
  height: 450px;
  max-height: 450px;
  background-color: white;
  border-radius: 10px;
}
.profile_img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
}
.profile_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img_edit_btn {
  margin-top: 15px;
  padding: 6px 18px;
  font-weight: 400;
  font-size: 16px;
  background-color: #f5f7ff;
  color: #748ffc;
  border: 1px #f5f7ff solid;
  border-radius: 5px;
  cursor: pointer;
}

.input_text {
  margin-top: 20px;
  width: 250px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #878ca0;
  padding: 10px;
  font-size: 16px;
}
.input_text:focus {
  outline: none;
  border: 2px solid #748ffc;
}

.save_btn {
  width: 250px;
  margin-top: 20px;
  padding: 8px 20px;
  font-weight: 400;
  font-size: 18px;
  background-color: #748ffc;
  color: #f5f7ff;
  border: 1px #748ffc solid;
  border-radius: 5px;
  cursor: pointer;
}
.withdrawal_btn {
  margin-top: 50px;
  padding: 8px 20px;
  font-weight: 400;
  font-size: 18px;
  background-color: #ed0086;
  color: #f5f7ff;
  border: 1px #ff5eb7 solid;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30rem;
  width: 120px;
}
.save_btn:active {
  transform: scale(0.95);
}
.withdrawal_btn:active {
  transform: scale(0.95);
}
