.card_container {
  padding: 15px 10px;
}

.cards_header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.card_header_left {
  display: flex;
  gap: 10px;
}

.card_header_left .name {
  font-size: 16px;
  font-weight: 400;
}

.card_header_left .time {
  font-size: 13px;
}


.card_contents_wrap {
  margin-top: 15px;
}
